.react-datepicker-wrapper {
    width: 100%;
}
  
  /* .react-datepicker__input-container {
    width: 100%;
  }
  
  Customize time picker styles
  .react-datepicker__time-container {
    width: 100%;
  }
  
  .react-datepicker-time__input {
    width: 100%;
  }
   */